src/main/resources/META-INF/sagacity-diversity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.sagframe.com/schema/diversity"
	xmlns:tns="http://www.sagframe.com/schema/diversity"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.sagframe.com/schema/diversity"
	elementFormDefault="qualified">
	<xsd:element name="diversity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="reference-db" minOccurs="1"
					maxOccurs="1" type="group_datasource" />
				<xsd:element name="target-db" minOccurs="1"
					maxOccurs="1" type="group_datasource" />
			</xsd:sequence>
			<xsd:attribute name="ignore-comment" type="xsd:boolean"
				default="false" />
			<xsd:attribute name="include-tables" type="xsd:string" />
			<xsd:attribute name="exclude-tables" type="xsd:string" />
			<xsd:attribute name="only-differ" type="xsd:boolean" />
			<xsd:attribute name="report-template" type="xsd:string" />
			<xsd:attribute name="report-file" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="group_datasource" mixed="true">
		<xsd:choice minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="url" maxOccurs="1" minOccurs="1">
				<xsd:complexType mixed="true">
					<xsd:attribute name="value" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="driver" maxOccurs="1" minOccurs="1">
				<xsd:complexType mixed="true">
					<xsd:attribute name="value" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="username" maxOccurs="1" minOccurs="1">
				<xsd:complexType mixed="true">
					<xsd:attribute name="value" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="password" maxOccurs="1" minOccurs="1">
				<xsd:complexType mixed="true">
					<xsd:attribute name="value" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="catalog" maxOccurs="1" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="value" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="schema" maxOccurs="1" minOccurs="0">
				<xsd:complexType mixed="true">
					<xsd:attribute name="value" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="name" type="xsd:string" use="optional"/>
	</xsd:complexType>
</xsd:schema>